[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tltk-mtl = "*"
scipy = "*"
pystaliro = {git = "ssh://git@gitlab.com/sbtg/pystaliro"}
part-optimize = {ref = "parallel", git = "ssh://git@gitlab.com/bose1/partX.git"}
aerobench = {git = "https://github.com/qthibeault/aerobenchvvpython.git"}

[dev-packages]
black = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
list = "python3 -m benchmarks --list"
all = "python3 -m benchmarks --all"
benchmark = "python3 -m benchmarks"
tests = "pytest"
