[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tltk-mtl = "*"
scipy = "*"
pystaliro = {git = "ssh://git@gitlab.com/sbtg/pystaliro"}

[dev-packages]
black = "*"
pandas = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
all = "python3 -m benchmarks --all"
benchmark = "python3 -m benchmarks"
